
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
/*encabezado*/

.logo{

width: 145px;
height: 90px;
font-family: 'Raleway';
font-size: 20px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
margin-left: 215px;
margin-top: 10px;

}

header{
display: flex;
height: 70px;
background-color: #FFFFFF;
justify-content: space-between;
align-items: center;
margin-right: 219px;

}


a{
  text-decoration: none;
  font-weight: 500;
  padding-right: 10px;
  color: #212121;
}
a:hover{
  color: gold;
}
.boton{background-color:  red;}

/*botones*/
main{
  align-items: center;
}
main button{
  cursor: pointer;
  
}
main button:hover{
 background: #2196F3;
  color:white
}

/*imagenes*/
.contenedor{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.img{
  width:370px;
  height:294px;
}

.img1 p{
color:#757575;
}
.img2 p{
  color: #757575;
}
.img3 p{
 color:  #757575;
}
.img4 p{
  color: #757575;
}
 
.img5 p{
  color: #757575;
}

.img6 p{
  color: #757575;;
}
.img7 p{
  color: #757575;
}
.img8 p{
  color: #757575;
}
.img9 p{
  color: #757575;
}
/*pie d epagina*/
.box1{
  color:#2196F3;
}
.box2{
  color: 
  #FFFFFF ;
}
.box3{
  color: white;
}
.box4{
  color: white;
}
.box4:hover{
  color: gold;
}
.box5{
  color: white;
}
.box5:hover{
color: gold;
}

/*pie de pagina*/
footer{
  background-color: #2F303A;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 100px;
}

/*index*/
.soluciones{
  background-color: #2F303A;
  width: 1260px;
  height: 600px;
  
}
.soluciones h1{
  color: #FFFFFF;
  width: 696px;
  height: 120px;
  padding-left: 350px;
  padding-top: 200px;
  padding-bottom: 280;
  
  
  
}
.soluciones button{
  background-color: #2196F3;
  color: #FFFFFF;
 margin-left: 600px;
 
}
.atencion div{
  
  
}
.atencion p{
 font-size: 14px;
 font-weight: 400;
 line-height: 24px;
 color: #757575;
 letter-spacing: 0.03em;
}
.atencion h3{
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;

}

.dedicamos h2{
  color:#212121;
  padding-top: 115px;
  padding-left: 500px;
  padding-bottom: 55.05px;
}
.dedicamos1{
  margin: 10px;
  width: 373.16px;
  padding-left: 18px;
  
}
.equipo {
  background-color:#F5F4FA;
  display: flex;
  padding-left: 80px;
  margin: 10px;
}
.equipo img{
  margin: 10px;
  width: 250px;
}
.equipo h4{
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
  letter-spacing: 0.03em


}
.equipo p{
text-align: center;
letter-spacing: 0.03em;
line-height: 19px;
color: #757575;
}